/* App.css */
.container {
  display: flex;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.main-content {
   flex-grow:1; /* Takes remaining space */
   padding-left :20px; /* Add some padding */
}

.details-section {
   width :300px; /* Fixed width for details section */
   padding-left :20px; /* Add some padding */
}

.patient-card {
   border :1px solid #ccc;
   padding :15px;
   margin :10px;
   cursor:pointer;
   border-radius :8px;
   display:flex;
   align-items:center;
}

.chart-section {
   padding :20px;
   background-color :#f4f4f4;
   border-radius :8px;
}

.vital-card {
   background-color:white;
   border :1px solid #ccc;
   border-radius :8px;
   padding :15px;
   margin-bottom :20px;
   text-align:center;
}

.lab-reports-list , .diagonostic-list{
  background-color:white;
  border :1px solid #ccc;
  border-radius :8px;
  padding :10px;
  margin-bottom :20px;
  text-align:left;
}


.show-info-button{
   margin-top :20px;
   background-color :green;
   color:white;
   border:none;
   padding :10px ;
   border-radius :15px ;
   cursor:pointer ;
}

@media (max-width :768px) {
 .container{
     flex-direction :column; /* Stack elements on smaller screens */
 }

 .sidebar{
     width:auto; /* Allow full width on small screens */
     border-right:none; /* Remove border on small screens */
     margin-bottom :20px; /* Add spacing between sections */
 }

 .main-content{
     width:auto; /* Allow full width on small screens */
 }

 .details-section{
     width:auto; /* Allow full width on small screens */
 }

 .patient-card{
     flex-direction :column; /* Stack image and text vertically */
     align-items:flex-start; /* Align items to the start */
 }
}
